.prod-screen-container {
    position: absolute;
    top: 35px;
    left: 35px;
    right: 35px;
    bottom: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    z-index: 5;
    display: flex;
    flex-direction: column;
    color: white;
    pointer-events: all;
    transition: all 0.5s ease-in-out;
}

.prod-screen-info {
    flex: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prod-screen-info p {
    margin: 0;
    margin-bottom: 5px;
}

.prod-screen-acao {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.prod-screen-acao button {
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 35px;
    font-size: 15pt;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: rgb(51, 51, 51);
    box-shadow: none;
    border: none;
}

.prod-screen-acao button:hover {
    padding: 19px 30px;
    margin: 0;
    color: black;
}

.close-prod-screen {
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
    font-size: 50pt;
    cursor: pointer;
    margin: 10px;
}

.cliente-pendente {
    background-color: #ffdada;
}