.clientes-container {
  align-items: normal;
  min-height: 100vmin;
  color: #262626;
}

.informacoes-clientes {
  flex: 1.5;
  padding-top: 85px;
  background-color: white;
  box-shadow: 0 0 5px #ccc;
  justify-content: flex-start;
}

.titulo-clientes {
  border-bottom: 1px solid #444444;
  width: 95%;
  padding-bottom: 15px;
}

.clientes-acao-container {
  width: 95%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.clientes-acao-container a {
  font-size: 15pt;
  text-decoration: none;
  background-color: #aaaaaa;
  padding: 15px 20px;
  border-radius: 30px;
  color: black;
  border: 1px solid rgb(92, 92, 92);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px #ccc;
}

.clientes-acao-container a:hover {
  background-color: white;
  padding: 15px 30px;
  border-color: black;
  box-shadow: 0 0 5px black;
}

.search-clie-container {
  width: 95%;
  border-bottom: 1px solid black;
  padding: 20px 0;
}

.search-clie-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  font-size: 16px;
  text-align: center;
}

.item-checkbox-clien {
  white-space: nowrap;
  margin-top: 15px;
}

.lista-clientes {
  flex: 2;
  margin-top: 75px;
  max-height: 87vmin;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  justify-content: flex-start;
}

.cod-cliente {
  width: 95%;
  margin: 5px 15px;
  border-radius: 25px;
  text-align: center;
  background-color: white;
  border: 1px solid #aaaaaa;
  box-shadow: 0 0 5px #ccc;
  font-size: 12pt;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cod-cliente:hover {
  border-color: #ab2b33;
  color: #ab2b33;
  box-shadow: 0 0 2px #ab2b33;
  width: 99%;
}

.cliente-pendente {
  background-color: #ffdada;
}

.informacoes-clientes p {
  margin: 5px 0;
}