.clientes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vmin;
  color: #262626;
}

.informacoes-clientes {
  flex: 1.5;
  display: flex;
  padding-top: 85px;
  background-color: white;
  box-shadow: 0 0 5px #ccc;
  flex-direction: column;
  align-items: center;
}

.titulo-clientes {
  border-bottom: 1px solid #444444;
  width: 95%;
  padding-bottom: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista-clientes {
  flex: 2;
  display: flex;
  margin-top: 80px;
  max-height: 87vmin;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cod-cliente {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 5px 15px;
  border-radius: 25px;
  text-align: center;
  background-color: white;
  border: 1px solid #aaaaaa;
  box-shadow: 0 0 5px #ccc;
  font-size: 12pt;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cod-cliente:hover {
  border-color: #ab2b33;
  color: #ab2b33;
  box-shadow: 0 0 2px #ab2b33;
  width: 99%;
}

.cliente-pendente {
  background-color: #ffdada;
}

.clientes-acao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.clientes-acao-container a {
  display: flex;
  align-items: center;
  font-size: 15pt;
  text-decoration: none;
  background-color: #aaaaaa;
  padding: 15px 20px;
  border-radius: 30px;
  color: black;
  border: 1px solid rgb(92, 92, 92);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px #ccc;
}

.clientes-acao-container a:hover {
  background-color: white;
  padding: 15px 30px;
  border-color: black;
  box-shadow: 0 0 5px black;
}