.produtos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vmin;
  background-color: #ffffff;
  color: #262626;
}

.informacoes-produtos {
  flex: 1.5;
  display: flex;
  margin-top: 85px;
  flex-direction: column;
  align-items: center;
}

.titulo-produtos {
  border-bottom: 1px solid #444444;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista-produtos {
  flex: 2;
  display: flex;
  margin-top: 80px;
  max-height: 87vmin;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cod-produto {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 5px 15px;
  border-radius: 25px;
  text-align: center;
  border: 1px solid #aaaaaa;
  font-size: 12pt;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cod-produto:hover {
  border-color: #ab2b33;
  color: #ab2b33;
  width: 99%;
}

.indisp {
  color: white;
  background-color: #cdcdcd;
}

.process {
  color: white;
  background-color: #ffdada;
}

.produtos-acao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.produtos-acao-container a {
  display: flex;
  align-items: center;
  font-size: 15pt;
  text-decoration: none;
  background-color: #aaaaaa;
  padding: 15px 20px;
  border-radius: 30px;
  color: white;
}