.adicionar-venda-container {
    min-height: 100vmin;
}

.box-dados-add-venda {
    flex: 1;
    height: 450px;
    width: 100%;
    margin: 75px 10px 0 70px;
    background-color: white;
    box-shadow: 0 0 5px #ccc;
    justify-content: flex-start;
}

.item-form-add-venda {
    margin-bottom: 15px;
}

.item-form-add-venda label {
    margin-bottom: 5px;
    font-weight: bold;
}

.item-form-add-venda input, .item-form-add-venda textarea, #pesquisa-add-vend {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    transition: border-color 0.3s ease-in-out;
}

.item-form-add-venda textarea {
    width: 80%;
    resize: none;
}

.salvar-venda-button {
    background-color: #ab2b33;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;
    border: 1px solid white;
    margin-bottom: 10px;
}

.salvar-venda-button:hover {
    background-color: white;
    color: #ab2b33;
    border-color: #ab2b33;
}

.box-itens-venda {
    flex: 1;
    height: 450px;
    width: 100%;
    justify-content: flex-start;
    margin: 75px 70px 0 10px;
    background-color: white;
    box-shadow: 0 0 5px #ccc;
}

#pesquisa-add-vend {
    margin: 15px;
    width: 100%;
}

.itens-lista-add-vend {
    width: 100%;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

.item-disp-add-venda {
    width: 95%;
    padding: 10px 0;
    margin: 1px 0;
    justify-content: space-around;
    cursor: pointer;
}

.item-disp-add-venda:hover {
    background-color: #ccc;
}

.pro-select-add-vend {
    background-color: #eee;
    border-left: 2px solid black;
}