.overlayCC {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.cbContainer {
	position: absolute;
	z-index: 6;
	color: black;
	border: 1px solid #ccc;
	padding: 16px;
	background-color: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.button-list-confirm {
	justify-content: space-between;
	margin-top: 15px;
}

.button-list-confirm > button {
	padding: 8px 16px;
	margin: 0 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	color: white;
	width: fit-content;
	font-weight: bold;
	border: 1px solid transparent;
	transition: all 0.2s ease-in-out;
}

#btn-1 {
	background-color: #3498db;
}

#btn-2 {
	background-color: #e74c3c;
}

#btn-3 {
	background-color: #ccc;
	color: black;
}

#btn-1:hover {
	background-color: white;
	border: 1px solid #3498db;
	color: #3498db;
}

#btn-2:hover {
	background-color: white;
	border: 1px solid #e74c3c;
	color: #e74c3c;
}

#btn-3:hover {
	background-color: white;
	border: 1px solid black;
}