.editar-produto-container {
    min-height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-editar-container {
    background-color: white;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.form-editar-container > h1 {
    margin: 10px 0;
}

.conteudo-form-edit-prod {
    display: flex;
    flex-direction: row;
}

.ladoE-edit-prod, .ladoD-edit-prod {
    display: flex;
    flex: 1;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-area-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-bottom: 15px;
}

.input-area-edit label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-area-edit > input, .input-area-edit > textarea, .input-area-edit > select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.input-area-edit > select {
    width: 100%;
}

.input-area-edit > select option {
    background-color: #f2f2f2;
    text-align: center;
}

.input-area-edit > textarea {
    resize: vertical;
}

.form-editar-container > button {
    background-color: #ab2b33;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 1px solid white;
    margin-bottom: 10px;
}

.form-editar-container > button:hover {
    background-color: white;
    color: #ab2b33;
    border-color: #ab2b33;
}
  